<!DOCTYPE html>
<html lang="en">



<body>    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Leela Eco Spa
                        <strong>Why Leela</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="/assets/leelafamilly.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="text-justify">Leela is a family of people who genuinely care about the well-being of the community and our society at large. We promise to provide an unforgettable experience for our clients, each time! Leela Eco Spa &amp; Studio provides Massages, Esthetic Services, Yoga Classes and Natural Medicine. The products we endorse are produced by natural, traditional methods and are cruelty free. We are proud to host <em>Eminence Organics</em> which is the only skin care in the world that uses <em>100% certified organic</em> ingredients in all its products. They are made of fruits, herbs and vegetables… and nothing else!<br>&nbsp; </p>
                </div>
                <div class="col-md-12 pad_top1">
                    <h4><strong>HOW ARE WE GREEN?</strong></h4>
                    <p>Leela is very proud to be an environmentally and socially conscious organization. We are committed to supporting green technologies and use products that are eco-friendly. Leela supports local businesses by partnering with environmental conscious companies like <em>Green Start Recycle</em> that gives us our monthly impact report and <em>Bull Frog Power</em> to promote 100% renewable energy. We’re currently calculating our carbon footprint and will purchase offsets in order to have zero carbon footprint through our business.</p>
                </div>
                <div class="col-md-12 pad_top1">
                    <h4><strong>SOME OTHER COOL EARTH-FRIENDLY STUFF WE DO:</strong></h4>
                    <p><strong>–</strong> Everything that does have to be printed is on 100% recycled paper, double sided and any scrap paper is kept for note paper <strong>–</strong></p>
                    <p><strong>–</strong>We use a filtration system for our water rather than disposable plastic bottles <strong>–</strong></p>
                    <p><strong>– </strong>We use all natural cleaners for the studio: borax, lemon juice and essential oils are used for the floors, windows and general cleaning <strong>–</strong></p>
                    <p><strong>–</strong> Leela is also located in a LEED gold building that uses rain water for the drain water system <strong>–</strong></p>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> -->

    </div>
    <!-- /.container -->

   

</body>

</html>
