  <% meta title: "About",
          description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
          %>
          <% metamagic keywords: [:keywords, "Spa in Calgary","Spa in Bridgeland","Spa in Downtown Calgary","Yoga Classes in Calgary","Massages in Calgary","Massages in Downtown Calgary","calgaryspa","spaindowntown","spaincalgary","ecofriendlyspa"]
  %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>
 

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">Why Leela</strong>
                    </h1>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="/assets/leelafamilly1.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="text-justify">Leela is a family of people who genuinely care about the well-being of the community and our society at large. We promise to provide an unforgettable experience for our clients, each time! Leela Eco Spa &amp; Studio provides Massages, Esthetic Services, Yoga Classes and Natural Medicine. The products we endorse are produced by natural, traditional methods and are cruelty free. We are proud to host <em>Eminence Organics</em> which is the only skin care in the world that uses <em>100% certified organic</em> ingredients in all its products. They are made of fruits, herbs and vegetables… and nothing else! </p>
                </div>
                <div class="col-md-12 pad_top1 text-justify">
                    <h4><strong>HOW ARE WE <span class="green_color">GREEN</span>?</strong></h4>
                    <p>Leela is very proud to be an environmentally and socially conscious organization. We are committed to supporting green technologies and use products that are eco-friendly. Leela supports local businesses by partnering with environmental conscious companies like <em>Green Start Recycle</em> that gives us our monthly impact report and <em>Bull Frog Power</em> to promote 100% renewable energy. We’re currently calculating our carbon footprint and will purchase offsets in order to have zero carbon footprint through our business.</p>
                </div>
                <div class="col-md-12 pad_top1 text-justify">
                    <h4><strong>SOME OTHER COOL EARTH-FRIENDLY STUFF WE DO:</strong></h4>
                    <p><b>–</b>We use a filtration system for our water rather than disposable plastic bottles.</p>
                    <p><b>– </b>We use all natural cleaners for the studio: borax, lemon juice and essential oils are used for the floors, windows and general cleaning.</p>
                    <p><b>–</b> Leela is also located in a LEED gold building that uses rain water for the drain water system.</p>
                    <p><b>–</b> We recently went ‘paperless’ enabling us to save more than 1000 pages each month. This initiative took us more than 1200 hours, scanning in more than 30,000 pages and a good amount of team effort. We are very proud of this accomplishment and are able to reduce our impact on the environment considerably.</p>

                    
                </div>
            </div>
        </div>

         <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Presence</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-6 text-center">
                      <div class="embed-responsive embed-responsive-4by3">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ezCv1-ZYnQY?rel=0" frameborder="0" allowfullscreen></iframe>
                      </div>
                    <h3>Making Sustainable Attainable
                        <small>Gaurav Gupta - Leela Eco Spa and Studio</small>
                    </h3>
                </div>
                <div class="col-sm-6 text-center">
                  <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ukOGma60DZc?rel=0" frameborder="0" allowfullscreen></iframe>
                  </div>
                    <h3>Leela Eco Spa & Studio
                        <small>REAP Calgary</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <!-- /.container -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>
   