<!DOCTYPE HTML>

<html lang="en">
<head>
  <% meta title: "Gallery",
          description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing",
          keywords: %w("Spa in Calgary" "Spa in Bridgeland "Spa in Downtown Calgary" "Yoga Classes in Calgary" "Massages in Calgary" "Massages in Downtown Calgary" calgaryspa spaindowntown spaincalgary)
  %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>
    
<link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="/assets/gallery-css/bootstrap-image-gallery.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="box text-center">
        <a href="/assets/gallery/large/gallery3.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery3.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery4.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery4.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery5.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery5.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery6.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery6.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery7.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery7.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery8.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery8.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery9.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery9.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery10.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery10.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery11.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery11.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery12.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery12.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery13.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery13.jpg" class="pad_bot4p"></a>        
        <a href="/assets/gallery/large/gallery15_acupuncture.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery15_acupuncture.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery16_aesthetics.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery16_aesthetics.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery17_aesthetics.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery17_aesthetics.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery18_Couples_massage.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery18_Couples_massage.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery19_leela_massage.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery19_leela_massage.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery20_leelafamily.JPG" title="" data-gallery=""><img src="/assets/gallery/small/gallery20_leelafamily.JPG" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery21_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery21_yoga.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery22_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery22_yoga.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery23_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery23_yoga.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery25_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery25_yoga.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery29_LeelaEcoSpaStudio.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery29_LeelaEcoSpaStudio.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery30_LeelaEcoSpaStudio.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery30_LeelaEcoSpaStudio.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery24_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery24_yoga.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery26_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery26_yoga.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery27_LeelaEcoSpaStudio.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery27_LeelaEcoSpaStudio.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery28_LeelaEcoSpaStudio.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery28_LeelaEcoSpaStudio.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery14.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery14.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery1.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery1.jpg" class="pad_bot4p"></a>
        <a href="/assets/gallery/large/gallery2.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery2.jpg" class="pad_bot4p"></a>
        </div>
    </div>    
</div>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/assets/gallery-js/bootstrap-image-gallery.js"></script>
<script src="/assets/gallery-js/demo.js"></script>
</body> 
</html>
