<!DOCTYPE html>
<html lang="en">

<body>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-sm-12">
                    <h1 class="intro-text text-center brand-name">Leela Eco Spa
                        <strong>Contact</strong>
                    </h1>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h4>Contact Information</h4>
                    <p class="text-justify">Leela Eco Spa and studio is your urban retreat away from the hustle and bustle of Calgary life. We have a full offering of day Spa Services, Yoga Classes, Massage Therapy and Natural Medicine. In the heart of Bridgeland, Leela is easily accessible from downtown and throughout the city.</p>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4>Reach Us At</h4>
                    <p>
                        849 1 Avenue NE,
                      <br>Calgary, AB, T2E0C3
                    </p>
                    <p>Phone:
                        <strong class="pink">+1 403 258 3268</strong>
                    </p>
                    <p>Email:
                        <strong><a class="pink" href="mailto:info@leelaecospa.com?Subject=Hello%20leelaeco">info@leelaecospa.com</a></strong>
                    </p>                    
                </div>
                <div class="col-sm-6 col-md-3">
                    <h4>Business Hours</h4>
                    <p>Monday - Friday :</p>
                    <p class="pink">
                        <strong>9:00am - 8:30pm</strong>
                    </p>
                    <p>Saturday - Sunday :</p>
                    <p class="pink">
                        <strong>9:30am - 5:00pm</strong>
                    </p>                    
                </div>
                <div class="col-sm-12 pad_top2">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2507.995553553255!2d-114.043208!3d51.0531699!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371655211bab347%3A0x79978954a0118fd3!2s849+1+Ave+NE%2C+Calgary%2C+AB+T2E+0C4%2C+Canada!5e0!3m2!1sen!2sin!4v1423304275727" width="100%" height="400px" frameborder="0" style="border:0"></iframe>
              <p class="text-center pink"><b>Ample street parking is available on 1st Ave NE – free for 2 hours!</b></p>
                </div>
                
                
            </div>
        </div>


    </div>
    <!-- /.container -->


</body>

</html>
