<% meta title: "Packages",
   description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
%>
<% metamagic keywords: [:keywords, "Spa in Calgary", "Spa in Bridgeland", "Spa in Downtown Calgary", "Yoga Classes in Calgary", "Massages in Calgary", "Massages in Downtown Calgary", "calgaryspa", "spaindowntown", "spaincalgary", "ecofriendlyspa"]
%>
<% metamagic site: "Leela Eco Spa", title: [:title, :site], separator: " | " %>

<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h1 class="intro-text text-center">Leela Eco Spa
          <strong class="pink">Packages</strong>
        </h1>
      </div>
      
      <div class="col-md-12">
        <h3>Customized Spa Day</h3>
        <p>Choose you're own spa experience, Start with a 60 or 90min massage and choose two Spa services for a 10% discount on all services.</p>
        
        <h4>Pedicure with Paraffin</h4>
        <h4>Manicure with Paraffin</h4>
        <h4>Body Scrub</h4>
        <h4>Body wrap</h4>
        <h4>Facial (60 min) or ( 75 Min )</h4>
        <h4>Hot stone Facial </h4>
        <h4>Microdermabrasion </h4>
        <h4>Ipl Photo Facial </h4>


      </div>
      <div class="col-md-12">
        <h3>advanced medical spa</h3> 

        <h4>Ipl Photo facial</h4>
        <p>Is great for a wide variety of skin problems such as redness broken capillaries, rosacea,acne,sunposts,melasma,hyper pigmenation and smooths uneven skin texture, eliminates wrinkles by stimulating collagen and elastin growth. </p>

        <h4>Ultrasound infusion</h4>
        <p>Ultrasound waves penetrate the skin to deep-cleanse, hydrate, promote collagen production, and kill bacteria. Increased oxygen and blood circulation to underlying tissues leaves your skin thoroughly cleansed, revitalized and glowing.</p>

        <p>Benefits of Ultrasound Therapy</p>
        <ul class="list-unstyled">        
            <li>- reduces puffiness and helps firm the skin</li>
            <li>- gently treats the most sensitive skin &amp; rosacea</li>
            <li>- restores skin to a smooth, youthful glow</li>
            <li>- improves blood circulation and skin elasticity</li>
            <li>- soothes inflammation and speeds healing &amp; acne</li>
            <li>- increases moisture retention</li>
            <li>- improves acne and scarring conditions</li>
            <li>- reduces pore size</li>
            <li>- builds collagen &amp; elastin</li>
        </ul>

      </div>
    </div>
  </div>
</div>