
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div class="container">
  <div class="start">
  <div id="horizon">
    <div class="slideShow">
            <div class="slideShowImgDiv"><img src="/assets/img/014.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/015.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/305.JPG" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/018 - Copy.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/057 copy.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/image-6.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/image-5.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/image2.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/alb_aayega aanewala.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/alb_let_it_go.jpg" alt="" /></div>
            <div class="slideShowImgDiv"><img src="/assets/img/alb_love_encore.jpg" alt="" /></div>

    </div>
   </div>
  </div>
  </div>

</body>
</html>