<% meta title: "Prenatal /Postnatal Massage",
   description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
%>
<% metamagic keywords: [:keywords, "Spa in Calgary", "Spa in Bridgeland", "Spa in Downtown Calgary", "Yoga Classes in Calgary", "Massages in Calgary", "Massages in Downtown Calgary", "calgaryspa", "spaindowntown", "spaincalgary", "ecofriendlyspa"]
%>
<% metamagic site: "Leela Eco Spa", title: [:title, :site], separator: " | " %>

<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h1 class="intro-text text-center">Leela Eco Spa
          <strong class="pink">Prenatal / Postnatal  Massage</strong>
        </h1>
      </div>
      
      <div class="col-md-6">
        <h3 class="intro-text text-center">
          <strong class="pink">Prenatal Massage</strong>
        </h3>
        <p class="text-justify">Prenatal massage is a safe and effective way to reduce the discomforts of pregnancy!  Headaches, muscle stiffness, backaches, fatigue and swelling are all common ailments that can occur during pregnancy, and taking some time to yourself on the table can help alleviate all of them! Massage encourages blood circulation, which helps relax the nervous system, allowing for a better sleep, and attention to specific muscles will help ease the pain of any postural changes which occur!  Once laying on your tummy isn't possible, your therapist will have you lay on your side, supported by one of our amazingly comfortable full body pregnancy pillows so all areas of your body get the proper attention they deserve! Unwind and relax while we help keep you and your baby healthy!</p>
      </div>
      <div class="col-md-6">
        <h3 class="intro-text text-center">
          <strong class="pink">Postnatal Massage</strong>
        </h3>
        <p class="text-justify">A happy mommy makes a happy baby! Postnatal treatments offer essential time to nurture and support your body’s recovery from the birthing process. Mothers will find additional benefits of relief from nerve and muscle pain, additional milk flow, regulation of menses, reduction in swelling, speedier contraction of uterus and reduction of muscular tension and fatigue.</p>
      </div>
    </div>
  </div>
</div>