<% meta title: "Relaxation Massage",
   description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
%>
<% metamagic keywords: [:keywords, "Spa in Calgary", "Spa in Bridgeland", "Spa in Downtown Calgary", "Yoga Classes in Calgary", "Massages in Calgary", "Massages in Downtown Calgary", "calgaryspa", "spaindowntown", "spaincalgary", "ecofriendlyspa"]
%>
<% metamagic site: "Leela Eco Spa", title: [:title, :site], separator: " | " %>

<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h1 class="intro-text text-center">Leela Eco Spa
          <strong class="pink">Relaxation Massage</strong>
        </h1>
      </div>
      <div class="col-md-6">
        <!-- <img class="img-responsive img-border-left" src="/assets/leelafamilly1.jpg" alt="Leela Family"> -->
      </div>
      <div class="col-md-6">
        <p class="text-justify">Stressed out?  Not sleeping? Brain a bit foggy? Take some time for yourself, you deserve it!  Cozy up on our heated massage tables, and let your RMT melt your muscles and mind into a state of deep relaxation.  Long, slow strokes with the pressure of your choice will allow your nervous system to take a time out - something everyone needs now and then!  If you please, your massage will finish with the biggest treat of all, a soothing and calming scalp massage that will put you in a state of pure bliss!  So take a break, spoil yourself and book a relaxation massage!</p>
      </div>
    </div>
  </div>
</div>