<% meta title: "Hot Stone Massage",
   description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
%>
<% metamagic keywords: [:keywords, "Spa in Calgary", "Spa in Bridgeland", "Spa in Downtown Calgary", "Yoga Classes in Calgary", "Massages in Calgary", "Massages in Downtown Calgary", "calgaryspa", "spaindowntown", "spaincalgary", "ecofriendlyspa"]
%>
<% metamagic site: "Leela Eco Spa", title: [:title, :site], separator: " | " %>

<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h1 class="intro-text text-center">Leela Eco Spa
          <strong class="pink">Hot Stone Massage</strong>
        </h1>
      </div>
      <div class="col-md-12 msg">
        <p class="text-justify"><img class="img-responsive pull-right" src="/assets/massages/hotstone.jpeg" alt="Hot Stone Massage">
        Hot stone massage is a customized massage, with the placement of smooth, water-heated stones that are placed on key points of the body.</p>
        <p class="text-justify">Hot stone eases muscle stiffness, increases circulation and melts away tension. The direct heat of the stones relaxes the tissue, allowing the RMT to access deeper muscle layers. Booking 90 minute treatment will allow the therapist to proivde a full body treatment, with adequate time to also focus on any problems areas. If you are looking to relax, relieve stress or decrease chronic pain, this is the massage for you.</p>
      </div>
    </div>
  </div>
</div>