<!DOCTYPE html>
<html lang="en">



<body>    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-xs-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong>OUR PRACTITIONERS</strong>
                    </h1>
                </div>
                
    
        <div class="col-sm-12">
            <div class="row pad_bot3">                
                <div class="col-sm-9 text-justify">
                    <h3>DR. SANDRA BLACKWELL, DTCM RAc</h3>
                    <p>Dr. Sandra Blackwell, is a Doctor of Traditional Chinese Medicine (DTCM), and a Registered Acupuncturist (R.Ac). She is a graduate from the Canadian Institute of Traditional Chinese Medicine located in Calgary, AB.Sandra’s interest in this field began several years ago after a ski accident left her with extensive facial nerve damage. Upon suggestion from her naturopath to try acupuncture, she was successfully treated after only one treatment! Eager to learn more about this amazing modality, already having had an interest in alternative therapies for many years, she decided to take the plunge and enrolled into a 4 year Doctor of Traditional Chinese Medicine program! A decision that has since fueled her passion to help others.</p>
                    <p>During her extensive years of study, she also completed several courses to enhance her practice such as Therapeutic Cupping and Facial Rejuvenation Acupuncture.</p>
                    <p>Sandra had been involved in volunteering her services with “Acupuncturists without Borders”, which offered stress relief to the victims of Calgary’s flood of June, 2013.</p>
                    <p>Sandra has also done volunteer acupuncture for the MS Society of Calgary.</p>
                    <p>Currently, she enjoys working as a general practitioner, treating a broad range of conditions such as insomnia, infertility, migraine, eczema, menopause, pain, addictions and has a special interest in healthy aging. Taking charge and becoming proactive about your health now, can make the natural aging process an uneventful one!</p>
                    <p>She reminds her patients that their own body has the incredible ability to regain and maintain good health. Sandra simply provides you with the tools you need to accomplish this!</p>
                    <p>Live healthier, be happier, do more …. naturally!</p>
                </div>
                <div class="col-sm-3 text-center pad_top1">                  
                    <img src="/assets/natural/p_sandra.jpg" class="img-thumbnail" alt="">
                </div>
            </div>
        </div> 
 
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 text-center pad_top1">
                    <img src="/assets/natural/p_tanya.jpg" class="img-thumbnail" alt="">                    
                </div>                
                <div class="col-sm-9 text-justify">
                    <h3>DR. TANYA RAMPERSAD, ND.</h3>
                    <p>Dr. Tanya is a licensed Naturopathic Doctor in Calgary, Alberta. With over ten years of clinical experience, she is well-known for helping people relieve pain, achieve better hormonal balance, ideal weight and high levels of wellness.<p><strong>Qualifications</strong></p>
                    Doctor of Naturopathic Medicine Degree, Bastyr University, Seattle<br>
                    Bachelor of Science in Animal Science, Magna Cum Laude, University of Manitoba<br>
                    CAND registrant<br>
                    CNDA licensed</p>
                    <p><strong>Advanced Professional Training</strong><p><p>
                    Visceral Manipulation (Organ assessment and correction)<br>
                    Craniosacral Therapy<br>
                    Neuromeningeal manipulation<br>
                    Homeopathy<br>
                    Biotherapeutic drainage<br>
                    Self care techniques<br>
                    Radio frequency techniques<br>
                    Advanced Medical Life Support</p>
                </div>                
            </div>
        </div>

                                
            </div>
        </div>       

    </div>
    

   

</body>

</html>
