<!DOCTYPE html>
<html lang="en">



<body>    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong>NATUROPATHY</strong>
                    </h1>
                </div>
                
                <div class="col-md-6 text-justify">
                    <h4>NATUROPATHY AND HIGH LEVEL WELLNESS</h4>
                    <p>High level wellness is more than being free from a serious disease. It is about meeting life and its challenges with vigour, about trusting your body and your wisdom and about constant renewal.  And because good health is not a place that is arrived at, but a state that is constantly in flux, it requires attention, work and challenges.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="/assets/natural/naturopathy_wellness1.jpg" alt="">
                </div>
                <div class="col-md-12 pad_top1 text-justify">
                    <h4><strong>VISCERAL MANIPULATION: ORGAN ASSESSMENT AND CORRECTION</strong></h4>
                    <p>Visceral manipulation is a method for assessing organ position, movement and function. Bones, ligaments and connective tissue sheaths can also be assessed using this same method. The subtle movements or breathing of the various internal can be detected by gentle palpation.</p>
                    <p>Corrections are gentle and relaxing, much like receiving a massage but for your internal organs. When organs are moving better, they function better and work in better harmony with the other connected organs. Treating only one organ can have a very positive ripple effect on your whole system.</p>
                </div>
                <div class="col-md-12 pad_top1 text-justify">
                    <h4><strong>Consider the following connections:</strong></h4>
                    	<ul>
                    		<li style="list-style: square">Gallbladder or duct dysfunction causing headaches and/or shoulder pain</li>
                    		<li style="list-style: square">Kidney fixations causing low back pain</li>
                    		<li style="list-style: square">Whiplash or neck injury causing thyroid dysfunction</li>
                    		<li style="list-style: square">Lung adhesions causing neck pain</li>
                    		<li style="list-style: square">Adhesions around the heart causing back and neck pain or irregular heart beats</li>
                    	</ul>
					<p>Because the body is a whole and there are innumerable interconnections, the above are just some common examples, but any lesion can cause any number of symptoms.</p>
                </div>
            </div>
        </div>

        

    </div>

</body>

</html>
