  <% meta title: "Acupuncture",
          description: "Providing excellence and holistic view to your health, Leela Eco spa gives best in class acupuncture Calgary. Achieve internal health balance and harmony with natural medicines in Calgary and health benefits along with soul mind and body."
          %>
          <% metamagic keywords: [:keywords, "Acupuncture in Calgary","Acupuncture in Bridgeland","Acupuncture in Downtown Calgary","Acupuncture Classes in Calgary","Massages in Calgary","Massages in Downtown Calgary"]
  %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>
 
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">ACUPUNCTURE</strong>
                    </h1>
                </div>
                <div class="col-sm-12">
                    <div class="row text-justify pad_top1">
                        <div class="col-md-6 pad_topp5">
                            <img class="img-responsive img-border-left" src="/assets/natural/Leela_acupuncture.jpg" alt="Leela Acupuncture">
                        </div>
                        <div class="col-md-6">
                            <!-- <h4>WHAT IS ACUPUNCTURE?</h4> -->
                            <p>Acupuncture is the stimulation of specific acupuncture points along the skin of the body using thin needles. Stimulating specific acupuncture points corrects imbalances in the flow of qi – “life energy” – through channels known as meridians.</p>
                            <p>Traditional Chinese Medicine encompasses a group of “modalities” or treatments, including acupuncture, herbal medicines, and cupping. Chinese medicine has a holistic view of your health. It sees your body as a small universe while the environment as the large universe.  Balance and harmony need to be achieved not only within your body, but also with the outside world for you to achieve optimal health. The final goal is to bring balance to the body, mind and spirit and all aspects of an individual must be considered in order to achieve this. </p>
                            
                            <p><strong>Acupuncture Practitioner : Dr. Sandra Blackwell</strong></p>
                            <p>Acupuncture Assessment (1.5 hours): $120</p>
                            <p>Acupuncture Treatment (1 hour/session): $85</p>
                            <p>Please check with your insurance company if your plan covers the cost of Acupuncture sessions.</p>
                            
                        </div>
                    </div>
                </div>  
                <div class="col-lg-12">
                    <p>Hello. My name is Sandra Blackwell. I'm a doctor of Traditional Chinese Medicine and a registered Acupuncturist. I work at Leela Eco Spa in Bridgeland.</p>
                    <p>I'd like to give you a short introduction to Traditional Chinese Medicine and Acupuncture and what you can expect during an initial assessment and follow up appointment.</p>
                    <p>Chinese Medicine has been around for 5 thousand years and has a proven track record!</p>
                    <p>It is based on the theory that living beings have a vital energy called "Qi", that circulates through twelve invisible energy lines known as meridians on the body. Each meridian is associated to a different organ system. An imbalance in the flow of Qi throughout a meridian is how disease begins.</p>
                    <p>Chinese medicine and acupuncture can treat a multitude of problems from physical to emotional and most often one can lead to the other.</p>
                    <p>In our stressful society today, it is important to keep our emotions in check. Living in a constant state of "fight or flight" weakens our organs and can invite disease.</p>
                    <p>Aside from stress, acupuncture can treat very common ailments such as migraines, body pain, insomnia, digestive issues, menopause, common cold, asthma, menstrual disorders, and infertility, just to name a few.</p>
                    <p>Your first visit with me will include a one and a half hour assessment with an acupuncture treatment. During this session, I ask questions regarding every body system to give me the big picture about your health. Some questions may seem a little strange, such as questions about food cravings or your body temperature. These and others, help me determine the root cause of your issues. Treating the "root", ultimately helps me treat the "branch". I also check your pulse and tongue to help confirm the diagnosis. I am looking for patterns of disharmony. When Qi and blood are blocked from their usual smooth flow in the body, this creates disharmony. Acupuncture brings balance and "smooth flow" back to the body.</p>
                    <p>It is common to feel very relaxed during your acupuncture treatment and some people often fall asleep.</p>
                    <p>The acupuncture needles are very thin (hair-like), sterilized and single use. Most patients barely feel them and report feeling calm and relaxed during the treatment.</p>
                    <p>Everyone experiences the needles differently. You may feel a slight tingling sensation or you may feel nothing.</p>
                    <p>After the initial assessment and treatment, I will see the patient for a one-hour follow-up, usually one week later, to reassess and continue treatment. I often recommend the patient does try at least 3 or four sessions to determine whether he or she is making progress with acupuncture. After the desired results are achieved, it is important for the patient to maintain their health. A maintenance appointment is recommended every month or two to keep your health in check.</p>
                    <p>Best of all, most insurance providers now cover acupuncture, so it won't cost you anything to give it a try!</p>
                    <p>I hope to see you soon and look forward to helping you maintain good health.</p>
                </div>              
            </div>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>