  <% meta title: "Natural Wellness",
          description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
          %>
          <% metamagic keywords: [:keywords, "Spa in Calgary","Spa in Bridgeland","Spa in Downtown Calgary","Yoga Classes in Calgary","Massages in Calgary","practitioner in calgary","practitionerincalgary","VISCERAL MANIPULATION","ORGAN ASSESSMENT AND CORRECTION","Manual Therapy Assessment"]
  %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>
  

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">VISCERAL MANIPULATION</strong>
                    </h1>
                </div>
                <div class="col-md-6 hidden-md hidden-lg">
                    <img class="img-responsive img-border-left" src="/assets/natural/naturopathy_wellness1.jpg" alt="">
                </div>
                <div class="col-md-6 text-justify r_pad_top1">
                    <h4>NATUROPATHY AND HIGH LEVEL WELLNESS</h4>
                    <p>High level wellness is more than being free from a serious disease. It is about meeting life and its challenges with vigour, about trusting your body and your wisdom and about constant renewal.  And because good health is not a place that is arrived at, but a state that is constantly in flux, it requires attention, work and challenges.</p>
                </div>
                <div class="col-md-6 hidden-xs hidden-sm">
                    <img class="img-responsive img-border-left" src="/assets/natural/naturopathy_wellness1.jpg" alt="">
                </div>
                <div class="col-md-12 pad_top1 text-justify">
                    <h4><strong>VISCERAL MANIPULATION: ORGAN ASSESSMENT AND CORRECTION</strong></h4>
                    <p>Visceral manipulation is a method for assessing organ position, movement and function. Bones, ligaments and connective tissue sheaths can also be assessed using this same method. The subtle movements or breathing of the various internal can be detected by gentle palpation.</p>
                    <p>Corrections are gentle and relaxing, much like receiving a massage but for your internal organs. When organs are moving better, they function better and work in better harmony with the other connected organs. Treating only one organ can have a very positive ripple effect on your whole system.</p>
                </div>
                <div class="col-md-12 pad_top1 text-justify">
                    <h4><strong>Consider the following connections:</strong></h4>
                    	<ul>
                    		<li style="list-style: square">Gallbladder or duct dysfunction causing headaches and/or shoulder pain</li>
                    		<li style="list-style: square">Kidney fixations causing low back pain</li>
                    		<li style="list-style: square">Whiplash or neck injury causing thyroid dysfunction</li>
                    		<li style="list-style: square">Lung adhesions causing neck pain</li>
                    		<li style="list-style: square">Adhesions around the heart causing back and neck pain or irregular heart beats</li>
                    	</ul>
					<p>Because the body is a whole and there are innumerable interconnections, the above are just some common examples, but any lesion can cause any number of symptoms.</p>
                </div>

                <div class="col-md-12 pad_top1 text-justify">
                    <h4><strong>Manual Therapy Assessment</strong></h4>                        
                    <p>The manual therapy (body work) used by Dr. Tanya Rampersad, ND uses osteopathic techniques (Visceral Manipulation, Neuromeningeal Manipulation) to assess and correct physical issues. The work is gentle and subtle, but often patients will feel releases,movement or gurgling. Virtually any tissue in the body can be addressed using these methods including the matrix of the bones, nerves, tendons, organs, ribs and supporting ligaments. The treatments should never be uncomfortable or painful but should put the client in a relaxed state.</p>
                    <p>The initial consultation (45 minutes) will include a thorough and detailed examination of the organs and glands using gentle palpation and subtle movement to assess positioning and function. The structures, glands and organs that are often assessed include:</p>
                    <ul>
                        <li style="list-style: square">Liver and gallbladder</li>
                        <li style="list-style: square">Kidneys</li>
                        <li style="list-style: square">Small and large intestine</li>
                        <li style="list-style: square">Adrenal glands, thyroid gland, ovaries, pituitary</li>
                        <li style="list-style: square">Uterus</li>
                        <li style="list-style: square">Stomach</li>
                        <li style="list-style: square">Pancreas</li>
                        <li style="list-style: square">The cranium</li>
                    </ul>
                    <p>At each visit (first visit and subsequent visits) the primary lesion is identified, released and balanced. The primary lesion is the site that is causing the most imbalance in the person at the moment. Lesions are often adhesions, scar tissue and ligament contractions, sometimes the lesion is an emotional disturbance. Usually second and third lesions can be addressed within the visit. Because the connective tissue is continuous throughout the entire body, small modifications at the most important site can affect comfort, mobility and flexibility in seemingly unconnected locations, for example, releasing the gallbladder may improve vertigo or shoulder pain or both.</p>
                    <p>Often a notable difference is evident immediately after treatment, but if there are multiple or more complex lesions, several visits may be required to achieve the desired results.</p>

                    <div class="text-center">
                      <h4 class="price_color">Manual Therapy Assessment - $185</h4>
                      <h4 class="price_color">Manual Therapy Treatment - $ 105</h4>
                    </div>

                </div>

                <div class="col-sm-12 text-center pad_top2">
                    <p><strong><i class="fa fa-hand-o-right"></i> Prices do not include GST <i class="fa fa-hand-o-left"></i></strong></p>
                </div>
                <div class="col-md-12 pad_top1 text-justify">
                    <p>Please check with your insurance company if your insurance plan covers the cost of Naturopathy treatments.</p>
                </div>
            </div>
        </div>

        

    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>