
  <% meta title: "Reiki",
          description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
          %>
    <% metamagic keywords: [:keywords, "Reiki in Calgary","Reiki in Bridgeland","Reiki in Downtown Calgary","Reiki Classes in Calgary","Massages in Calgary","Massages in Downtown Calgary","calgaryspa spaindowntown spaincalgary acupunture in calgary"]
        %>
    <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>


    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">REIKI</strong>
                    </h1>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-10 text-justify pad_top1 pad_bot3">                    
                            
                    <p>Reiki is an energy healing modality originating in Japan by Dr. Mikao Usui. <b>“Rei”</b> means Divine Guidance and <b>“Ki”</b> means Universal Life Force Energy. Therefore, Reiki is a gentle and intuitive modality that assists the physical, mental, emotional and spiritual aspects of a person. Reiki uses the Chakra System and the practitioner may place their hands either on the major energy centres on the body or above them depending on the preference of the client. The client can expect to feel a calmness come over them and variations of heat or coolness as the Reiki energy flows depending on what the body needs.</p>

                    <p>Samantha Baldwin started her Reiki journey in 2012 and became a Reiki Master in 2014. She is also a certified yoga teacher including Prenatal, Postnatal and Yoga Nidra. Samantha includes the sounds of her Crystal Tones crystal healing bowls as well as Young Living essential oils in each of her sessions.</p>                           
                        
                </div>
                <div class="col-sm-1"></div>                
            </div>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>