<!DOCTYPE html>
<html lang="en">



<body>    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Leela Eco Spa
                        <strong>Massages</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12">
                    <p>Relax & let our therapists use their professional skills to create a magical experience for your senses.</p>
                    <p>All of Leela’s RMT’s are registered and accepted with all health insurance providers. We can direct bill with most of the insurance providers including Alberta Blue Cross, Greenshield, Sunlife, Manulife and others</p>
                </div>
                <div class="row">                    
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="intro-text text-center">
                                <strong>RELAXATION MASSAGE</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">Take a blissful retreat from the daily demands of life with our relaxation massage. After this full body massage, you will find tension eased and stress released. A pure indulgent treat for the senses!</p>
                            <div class="text-right">
                                <h4>60 min ….. $90</h4>
                                <h4>90 min ….. $130</h4>
                            </div>                            
                        </div>
                        <div class="col-sm-6">
                            <hr>
                            <h2 class="intro-text text-center">
                                <strong>THERAPEUTIC MASSAGE</strong>
                            </h2>
                            <hr>
                            <p class="text-justify">This intense massage uses greater pressure and slower movements to relieve chronic pain, tension and tightness. Our RMT’s will use deep, deliberate strokes to separate and lengthen muscle fibers. Great for those with muscular tension and pain.</p>
                            <div class="text-right">
                                <h4>60 min ….. $90</h4>
                                <h4>90 min ….. $130</h4>
                            </div>
                        </div>                    
                </div>
                <div class="row">                    
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="intro-text text-center">
                                <strong>SPORTS MASSAGE</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">For athletes looking to accelerate their healing process and need customized therapy. Our RMT’s will work with you to lessen the risk of injury while increasing performance, flexibility and range of motion.</p>
                            <div class="text-right">
                                <h4>60 min ….. $90</h4>
                                <h4>90 min ….. $130</h4>
                            </div>                            
                        </div>
                        <div class="col-sm-6">
                            <hr>
                            <h2 class="intro-text text-center">
                                <strong>HOT STONE MASSAGE</strong>
                            </h2>
                            <hr>
                            <p class="text-justify">Use the healing power of heat combined with traditional massage techniques to deepen your relaxation. Heated stones radiate warmth into muscles to increase blood circulation, and decrease stress, tension and tissue stiffness.</p>
                            <div class="text-right">
                                <h4>60 min ….. $105</h4>
                                <h4>90 min ….. $145</h4>
                            </div>
                        </div>                    
                </div>

                
                
            </div>
        </div>

        <!-- <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> -->

    </div>
    <!-- /.container -->

   

</body>

</html>
