<head>
    <% meta title: "Esthetics",
            description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
            %>
            <% metamagic keywords: [:keywords, "Esthetics in Calgary","Esthetics in Bridgeland","Esthetics in Downtown Calgary","Esthetics Classes in Calgary","Massages in Calgary","practitioner in calgary","practitionerincalgary","estheticsincalgary","esthetics"]
    %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>
</head>

    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-sm-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">Esthetics</strong>
                    </h1>
                </div>
                <div class="col-sm-12 text-justify">
                    <p>Celebrate life &amp; pamper yourself through our carefully crafted esthetics services. We are also able to provide couples esthetics services in our couple’s room.</p>
                    <p>All our esthetics services use <em>Eminence Organics</em> products. For first time clients, our esthetician will hold a consultation with you, and based on your skin type, use the best Eminence product suited for your needs.</p>
                </div>
                <div class="row">
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/esthetics_facial.jpg">-->
                        <!--</div>                     -->
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>FACIAL</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">A deep cleansing of the skin using only completely organic products by the high end organic skin care line <em>Eminence</em>. Our estheticians will perform a skin analysis and customize products to suit your skin type. This facial includes cleansing, exfoliating, steaming/hot towels and a mask to hydrate and nourish your skin. A light massage follows which will leave your complexion glowing and your mind peaceful.</p>
                            <div class="text-center">
                                <h4 class="price_color">60 min ….. $95</h4>
                                <h4 class="price_color">75 min ….. $120</h4>
                            </div>                            
                        </div>
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>MANICURE</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">Our relaxing manicure treatment will leave you feeling positive and pampered. It includes conditioning in a warm hand soak, filing, shaping of your nails, pushing and clipping of the nonliving cuticle tissue. Using oils to buff the nail plate to a beautiful natural shine will help nourish your nails and cuticles. Followed by a relaxing hand and arm message with your choice of massage lotion. If desired, you can finish with a polish application of <em>Zoya</em> nail polish.</p>
                    <div class="text-center">
                      <h4 class="price_color">Regular Mani - $40.00</h4>
                      <h4 class="price_color">Shellac  $55.00</h4>
                    </div>
                  </div>
                </div>

                <!--<div class="row pad_top2">-->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/esthetics_manicure.jpg">-->
                        <!--</div>                     -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>MANICURE</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">Our relaxing manicure treatment will leave you feeling positive and pampered. It includes conditioning in a warm hand soak, filing, shaping of your nails, pushing and clipping of the nonliving cuticle tissue. Using oils to buff the nail plate to a beautiful natural shine will help nourish your nails and cuticles. Followed by a relaxing hand and arm message with your choice of massage lotion. If desired, you can finish with a polish application of <em>Zoya</em> nail polish.</p>-->
                            <!--<div class="text-right">-->
                                <!--<h4>45 min ….. $50</h4>                                -->
                            <!--</div>-->
                        <!--</div>                                          -->
                <!--</div>-->

                <div class="row pad_top2">
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/esthetics_padicure.jpg">-->
                        <!--</div>                     -->
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>PEDICURE</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">This soothing pedicure will nourish and ground you. Including full nail care, callous treatment and massage. Please bring a pair of sandals with you to this treatment, Leela is an eco spa and as such does not provide disposable footwear.</p>
                            <div class="text-center">
                                <h4 class="price_color">Regular Pedi $60.00</h4>
                              <h4 class="price_color">Shellac Pedi $75.00</h4>
                            </div>
                        </div>
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>BODY SCRUB</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">Enjoy our luxury body treatment that includes full body exfoliation to restore your natural glow followed by a luxurious body lotion application. Carefully balanced to deeply cleanse and nourish, our body polishes  and leave your skin looking conditioned and smooth.</p>
                    <div class="text-center">
                      <h4 class="price_color">45 min ….. $100</h4>
                    </div>
                  </div>
                </div>

                <!--<div class="row pad_top2">-->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/esthetics_bodyscrub.jpg">-->
                        <!--</div>                     -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>BODY SCRUB</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">Enjoy our luxury body treatment that includes full body exfoliation to restore your natural glow followed by a luxurious body lotion application. Carefully balanced to deeply cleanse and nourish, our body polishes  and leave your skin looking conditioned and smooth.</p>-->
                            <!--<div class="text-right">-->
                                <!--<h4>45 min ….. $100</h4>                                -->
                            <!--</div>                            -->
                        <!--</div>                                          -->
                <!--</div>                -->

                <div class="row pad_top2">
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/esthetics_bodywrap.jpg">-->
                        <!--</div>                     -->
                        <div class="col-sm-12">
                            <hr>
                            <h3 class="text-center">
                                <strong>BODY WRAP</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">A decadent nourishing treatment! A light exfoliation will be performed that will polish away any dull skin. Followed by a layering of one of the ultra rich <em>Eminence</em> body lotions and an <em>Eminence</em> body masque. You then will be wrapped up with a full length warming pad to deliver the full nourishing benefits of the body wrap.</p>
                            <div class="text-center">
                                <h4 class="price_color">60 min ….. $145</h4>
                            </div>                            
                        </div>                                         
                </div>

                <div class="row pad_top2">
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/esthetics_polish.jpg">-->
                        <!--</div>                     -->
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>ADD ONS</strong>
                            </h3>
                            <hr>                            
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <h5>FRENCH POLISH</h5>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <h4 class="price_color">15 min ….. $15</h4>
                                </div>
                                <div class="col-sm-6">
                                    <h5>PARAFFIN</h5>
                                </div>  
                                <div class="col-sm-6 text-right">
                                    <h4 class="price_color">15 min ….. $15</h4>
                                </div>
                            </div>                                                        
                        </div>
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>TINTING</strong>
                    </h3>
                    <hr>
                    <div class="col-sm-12">
                      <div class="col-sm-6">
                        <h5>BROW TINT</h5>
                      </div>
                      <div class="col-sm-6 text-right">
                        <h4 class="price_color">$20</h4>
                      </div>
                      <div class="col-sm-6">
                        <h5>LASH TINT</h5>
                      </div>
                      <div class="col-sm-6 text-right">
                        <h4 class="price_color">$35</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <!--<div class="row pad_top2">-->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/esthetics_brow.jpg">-->
                        <!--</div>                     -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>TINTING</strong>-->
                            <!--</h3>-->
                            <!--<hr>                            -->
                            <!--<div class="col-sm-12">-->
                                <!--<div>-->
                                    <!--<h5>BROW TINT</h5>-->
                                <!--</div>  -->
                                <!--<div class="text-right">-->
                                    <!--<h4>$20</h4>                                    -->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<h5>LASH TINT</h5>-->
                                <!--</div>  -->
                                <!--<div class="text-right">-->
                                    <!--<h4>$35</h4>                                    -->
                                <!--</div>-->
                            <!--</div>                                                        -->
                        <!--</div>                                         -->
                <!--</div>-->
                
                <div class="col-sm-12 text-center pad_top2">
                    <p><b><i class="fa fa-hand-o-right"></i> Prices do not include GST <i class="fa fa-hand-o-left"></i></b></p>
                </div>
                
            </div>

            <div class="box">
                <div class="col-sm-12">
                    <h2 class="text-center">
                        <strong class="pink">PACKAGES </strong>
                    </h2>
                </div> 
                <div class="col-sm-12 text-center">
                    <h4>Mani/Pedi ​together</h4>
                    <p><strong></strong> Shellac ( <b><span class="price_color">$125</span></b> ) </p><p><strong></strong> Regular ( <b><span class="price_color">$95</span></b> ) </p>
                    <h4>BLISS</h4>
                    <p><strong>60 min</strong> facial, pedicure, manicure ( <b><span class="price_color">$172</span></b> ) </p>
                    <h4>RENEW</h4>
                    <p><strong>60 min</strong> massage, body scrub, <strong>& 60 min</strong> facial ( <b><span class="price_color">$228</span></b> )</p>
                    <h4>WELLNESS</h4>
                    <p><strong>60 min</strong> massage, <strong>60 min</strong> facial, lunch, manicure & pedicure ( <b><span class="price_color">$275</span></b> )</p>                    
                </div>

                <div class="col-sm-12 text-center pad_top2">
                    <p><b><i class="fa fa-hand-o-right"></i> Prices do not include GST <i class="fa fa-hand-o-left"></i></b></p>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="box">
                <div class="col-sm-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> -->

    </div>
    <!-- /.container -->

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>