<% meta title: "Waxing",
   description: "Get velvety silky smooth body and get rid of those unwanted hairs with little pain, only at Leela Eco spa. Get best treatment of waxing in Calgary at lowest prices with us. We excel and expertise in waxing in Calgary."
%>
<% metamagic keywords: [:keywords, "waxing in Calgary", "waxing in Bridgeland", "waxing in Downtown Calgary", "Massages in Calgary",]
%>
<% metamagic site: "Leela Eco Spa", title: [:title, :site], separator: " | " %>

<div class="container">

  <div class="row">
    <div class="box">
      <div class="col-xs-12">
        <h1 class="intro-text text-center pad_botp5">Leela Eco Spa
          <strong class="pink">WAXING SERVICES</strong>
        </h1>
      </div>

      <div class="col-xs-12 col-sm-4">
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row pad_top1">
          <div class="col-xs-10 col-sm-6">
            <h4>BROWS</h4>
            <h4>CHIN/LIP</h4>
            <h4>BIKINI</h4>
            <h4>BRAZILIAN</h4>
            <h4>HALF LEG</h4>
            <h4>FULL LEG</h4>
            <h4>FULL LEG &amp; BIKINI</h4>
            <h4>CHEST/BACK</h4>
            <h4>ARM </h4>
            <h4>UNDER ARM</h4>
          </div>
          <div class="col-xs-2 col-sm-6">
            <h4>$20</h4>
            <h4>$15</h4>
            <h4>$35</h4>
            <h4>$55</h4>
            <h4>$40</h4>
            <h4>$60</h4>
            <h4>$85</h4>
            <h4>$55</h4>
            <h4>$40</h4>
            <h4>$20</h4>
          </div>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="col-sm-12 pad_top3">
        <div class="well">
          <p class="text-center">We offer a private &amp; comfortable experience for our waxing services. Our premises &amp; setup is ideal for any intimate service like a Brazilian wax. We carry several waxing products to suit each service. Our waxing services include leg wax, bikini wax, chest wax, chip, lip, eye brow wax, arm and underarm wax. Come in for a comfortable, serene and private experience! </p>
        </div>
      </div>

      <div class="col-sm-12 text-center pad_top2">
        <p><strong><i class="fa fa-hand-o-right"></i> Prices do not include GST
          <i class="fa fa-hand-o-left"></i></strong></p>
      </div>

    </div>
  </div>
</div>
<!-- /.container -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61847818-1', 'auto');
    ga('send', 'pageview');

</script>