  <% meta title: "Therapists",
          description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
          %>
          <% metamagic keywords: [:keywords, "therapists in Calgary","therapists in Bridgeland","therapists in Downtown Calgary","Yoga Classes in Calgary","Massages in Calgary","practitioner in calgary","practitionerincalgary","estheticsincalgary","esthetics therapists"]
  %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-xs-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">OUR THERAPISTS</strong>
                    </h1>
                </div>
                 
 
        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1 hidden-sm hidden-md hidden-lg">
                    <img src="/assets/spa/therapist_melodie.png" class="img-thumbnail" alt="Therapist Melodie">
                </div>                
                <div class="col-sm-9 text-justify">
                    <h3>MELODIE PRICE, RMT</h3>
                    <p>Melodie is a Registered Massage Therapist who graduated in 2007 from ICT Northumberland College in Halifax, Nova Scotia. She is a member of the Natural Health Practitioners of Canada (NHPC).</p>
                    <p>Her treatment methods include deep tissue massage, myofascial release and trigger point therapy. She has a special interest in sports &amp; injury rehabilitation as well as pregnancy massage. Melodie is very passionate about her work and likes to tailor each session to the individual needs of her clients.</p>
                    <p>Melodie is an avid runner, completed two half marathons with hopes to finish a full marathon in the near future. Her weekends are spent running, hiking, biking, and climbing.</p>
                </div>
                <div class="col-sm-3 text-center pad_top1 hidden-xs">
                    <img src="/assets/spa/therapist_melodie.png" class="img-thumbnail" alt="Therapist Melodie">                    
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1">
                    <img src="/assets/spa/therapist_jolaine.jpg" class="img-thumbnail" alt="Therapist Jolaine">                    
                </div>
                <div class="col-sm-9 text-justify">
                    <h3>JOLAINE ST. PIERRE, RMT</h3>
                    <p>I am grateful for many things in my life… among them is my desire to impart awareness, balance, wellness and recovery through my hands.</p>
                    <p>I have been practicing massage since 2003 and continue to evolve with each new experience and insight. I welcome every opportunity to grow, be it through continued education or interaction with clients. My focus is consistently placed on assisting clients to aim for their optimum and unique potential, while respecting and restoring the body’s natural pursuit towards equilibrium and well-being. I view my role as a facilitator and teamwork as a vital component of a successful outcome. I am inspired by all those I have the pleasure of working alongside and am fortunate to be a part of the committed and caring Leela community!</p>
                    <p>On a personal note, my passion for food (yes I mean dark chocolate!), loved ones (furry ones too!), and the great outdoors (have you hugged a tree today?) are the essence of my happiness and keep me endlessly celebrating this amazing life!</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1 hidden-sm hidden-md hidden-lg">
                    <img src="/assets/spa/therapist_jessica.jpg" class="img-thumbnail" alt="Therapist Jessica">
                </div>                
                <div class="col-sm-9 text-justify">
                    <h3>JESSICA CHORONZEY, RMT</h3>
                    <p>Jessica is a Registered Massage Therapist, graduating from CCMH in Cambridge, Ontario.  Her journey to become a Natural Health Practitioner began at an early age, when as a Provincial level gymnast she relied on massage and chiropractor care to heal many stress related injuries. Her extensive training includes; deep tissue work, trigger point (referral pain) therapy, sports injury rehabilitation, relaxation and aromatherapy massage.  Immediately upon completing school, Jessica was chosen to work with many of the Winter Olympic Athletes as they prepared for the Sochi games.</p>
                    <p>Jessica is passionate about chronic pain management, with a focus on migraine and cancer treatments, finding the greatest satisfaction in providing care to those dealing with every day pain. Her primary belief is that one cannot heal the body, until the mind is at peace as well. Finding her home at Leela was a dream come true for Jess! The addition of Natural Health Care is especially exciting to her, as she is a strong supporter of multi-disciplinary health care, standing by the fact that a great team provides the greatest results.</p>
                    <p>Jessica is also a Certified Pediatric Massage Therapist, having completed training under world renowned pioneer in the field Tina Allen of The Liddle Kidz Foundation.  This therapy can relieve the stresses of Autism, chronic illnesses in children, gait and motor skill dysfunction and growing pains, all while providing a safe and fun environment for your child!</p>
                </div>
                <div class="col-sm-3 text-center pad_top1 hidden-xs">
                    <img src="/assets/spa/therapist_jessica.jpg" class="img-thumbnail" alt="Therapist Jessica">
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1">
                    <img src="/assets/spa/therapist_shawne.jpg" class="img-thumbnail" alt="Therapist Shawne">                    
                </div>
                <div class="col-sm-9 text-justify">
                    <h3>SHAWNE KLASSEN, RMT</h3>
                    <p>“Pain is the body’s way of telling us that something is wrong…please pay attention.”</p>
                    <p>This calling into massage therapy has taken me on a tour of disciplines. Starting 20 years ago earning a massage diploma at Mount Royal College moving on to study accupressure, craniosacral therapy, Aquatic Therapy, Thai Massage and reflexology. Encompassing Each of my career path choices has helped shape my understanding of health and wellness. And, each choice has brought me into alignment with the strong, intuitive healer that I have always been. My current journey is to update my initial massage training with a 2200 hour orthopedic massage diploma hopefully finishing by the end of the summer.</p>
                    <p>My style of bodywork can integrate elements from several traditions, including Swedish, Thai, shiatsu, deep tissue, and myofascial release. The goal in our session is to find the right balance that will offer you therapeutic and restorative relaxation. That is the work; that is the journey.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1 hidden-sm hidden-md hidden-lg">
                    <img src="/assets/spa/therapist_susan.png" class="img-thumbnail" alt="Therapist Susan">
                </div>                
                <div class="col-sm-9 text-justify">
                    <h3>SUSAN ERNER, RMT</h3>
                    <p>Susan is a graduate of the 2200hr program at the Professional Institute of Massage Therapy in Calgary, and the Freiburg Teaching Institute of Physical Therapy in Germany.</p>
                    <p>She has been a Massage Therapist since 2007 and absolutely loves sharing the healing power of Massage Therapy with her clients. She believes that Massage Therapy plays a key role in dealing with many of life’s stressors and that it is essential for long-term health and well-being. Through education, knowledge, and experience, Susan empowers her clients to achieve optimal health and overall wellness.</p>
                    <p>Susan spends her free time exploring the Canadian outdoors with her dog, reading, cuddling with her cats, knitting and learning new massage modalities.</p>
                </div>
                <div class="col-sm-3 text-center pad_top1 hidden-xs">
                    <img src="/assets/spa/therapist_susan.png" class="img-thumbnail" alt="Therapist Susan">
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1">
                    <img src="/assets/spa/therapist_melissa.jpg" class="img-thumbnail" alt="Therapist Melissa">                    
                </div>
                <div class="col-sm-9 text-justify">
                    <h3>MELISSA PIERSON, RMT</h3>
                    <p>Melissa Pierson graduated in 2009 from the 2,200 hour program at CCMH Foothills College of Massage Therapy with honors and was chosen to be the class valedictorian. Her course focused on anatomy and physiology, pathology, advanced massage treatments, pharmacology, hydrotherapy, and biomechanics.</p>
                    <p>In 2011, Melissa published an award winning case study in the International Journal of Therapeutic Massage and Bodywork on the effects of massage therapy on TMJ dysfunction symptoms. Melissa enjoys treating a wide range of conditions with the skills she has obtained in therapeutic and relaxation massage and structures treatment plans specific to each patient’s needs.</p>
                    <p>Melissa is passionate about creativity, music, physical fitness, and spending time with her daughter and husband.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 text-center pad_top1 hidden-sm hidden-md hidden-lg">
                    <img src="/assets/spa/therapist_clarissa.jpg" class="img-thumbnail" alt="Therapist Clarissa">
                </div>                
                <div class="col-sm-9 text-justify">
                    <h3>CLARISSA MCANDREWS, LEAD RMT</h3>
                    <p>Clarissa graduated from Mount Royal University’s 2200 hour program and worked as a full time massage therapist since. She has taken on a role as a Teaching Assistant in Mount Royal Universities Massage Therapy program. She has an ever growing passion for advancing her knowledge in the massage research community, is a strong supporter of a healthy lifestyle, the use of natural alternatives to healing ones ailments and the prevention of injury through massage. When working with clients, she believes that treatment continues at home, through the use of home care programs specifically designed for each individual.</p>
                    <p>Clarissa specializes in deep tissue work, sports, therapeutic, pre and postnatal treatments and relaxation massage. On a more personal level, Clarissa loves to be outdoors in her spare time, from cross country or downhill mountain biking in the summer to snowboarding in the winter.</p>
                </div>
                <div class="col-sm-3 text-center pad_top1 hidden-xs">
                    <img src="/assets/spa/therapist_clarissa.jpg" class="img-thumbnail" alt="Therapist Clarissa">                    
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1">
                    <img src="/assets/spa/therapist_katherine.jpg" class="img-thumbnail" alt="Therapist Katherine">
                </div>
                <div class="col-sm-9 text-justify">
                    <h3>KATHERINE SINGER RMT</h3>
                    <p>Katherine (Katie) is a Registered Massage Therapist who graduated from Mount Royal in 2007. She has been practicing over 8 years and is a member of the Natural Health Practitioners of Canada.</p>
                    <p>Her treatment methods include deep tissue massage, sports injury rehabilitation, hotstone and relaxation massage. She also has a passion for helping those mumma's to be with pre and post natal massage treatments.</p>
                    <p>Katie enjoys traveling, family and friend time. Her passion is continuing to learn new massage modalities.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 text-center pad_top1 hidden-sm hidden-md hidden-lg">
                    <img src="/assets/spa/blank.jpeg" class="img-thumbnail" alt="blank">
                </div>                
                <div class="col-sm-9 text-justify">
                    <h3>Jolaine St.Pierre</h3>
                    <p>My path to massage therapy began in 2003. Graduating from Foothills College with papers in hand and passion in my heart! It continues to be an incredible journey. I am grateful for many things in my life... among them is my desire to impart awareness, wellness and recovery through my hands. I welcome every opportunity to grow, through continued education and interaction with clients. My focus is consistently placed on assisting individuals to aim for their optimum and unique potential while respecting and restoring the body's  natural quest towards equilibrium and vitality.</p>
                    <p>I view my role as a facilitator and teamwork as a vital component to achieving desired results.</p>
                    <p>I am inspired by all those I have the pleasure of meeting and working alongside, and feel fortunate to have been part of the Leela family for the past 4 years!</p>
                    <p>On a personal note, my passion and appreciation for the great outdoors, dark chocolate and loved ones (furry ones too!) are the essence of my happiness and keep me endlessly celebrating this beautiful life!</p>
                </div>
                <div class="col-sm-3 text-center pad_top1 hidden-xs">
                    <img src="/assets/spa/blank.jpeg" class="img-thumbnail" alt="blank">
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1">
                    <img src="/assets/spa/therapist_Cyndi_Fehr.jpg" class="img-thumbnail" alt="Therapist Cyndi Fehr">
                </div>
                <div class="col-sm-9 text-justify">
                    <h3>Cyndi Fehr</h3>
                    <p>I am very passionate about helping people with their overall well-being and want to educate people in the health field. Graduated with honors from CDI College in 2008 and have achieved 2200 hrs recognition with MTAA, covered by all insurance companies. To stay current with client demands I have taken additional education in: deep tissue release, hot Stone, myofascial cupping and reflexology, TMJ disorder, neck pain and headaches. Health and wellness is my passion, as well as: studying whole foods and super foods, travel, dance, rollerblade, rock climb and scuba dive.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-3 text-center pad_top1 hidden-sm hidden-md hidden-lg">
                    <img src="/assets/spa/therapist_carla.jpg" class="img-thumbnail" alt="Therapist Carla">
                </div>                
                <div class="col-sm-9 text-justify">
                    <h3>Carla feher</h3>
                    <p>A graduate of the 2200 hour program at CDI College in 2007, Carla has expanded her knowledge over the last few years and integrated Hot Stone Therapy, Pre &amp; Post Natal Massage, as well as Sports/Rehabilitative and Myofascial  cupping Massage into her practice.  Carla is a registered member of the Natural Health Practitioners of Canada (NHPC) and the The International Alliance of Healthcare Educators.</p>
                </div>
                <div class="col-sm-3 text-center pad_top1 hidden-xs">
                    <img src="/assets/spa/therapist_carla.jpg" class="img-thumbnail" alt="Therapist Carla">
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row pad_bot3">
                <div class="col-sm-3 text-center pad_top1">
                    <img src="/assets/spa/therapist_Katrina.jpg" class="img-thumbnail" alt="Therapist Katrina">
                </div>
                <div class="col-sm-9 text-justify">
                    <h3>Katrina Ward</h3>
                    <p>Katrina is passionate about holistic living. She is a natural healer and loves to help people better their understanding and health by sharing her knowledge and skills. She completed a 2200hr diploma of Massage Therapy at Mount Royal University and specializes in deep tissue, therapeutic and relaxation massage. She also has a particular interest in pre and postnatal massage, as well as rehabilitation and sports massage.  As a yoga teacher she loves to incorporate a variety of stretches in her treatments as well as provide specific home care regimes unique to each client. She is also trained in Indian head massage, Indian foot massage, and level 3 Reiki.</p>
                    <p>During her free time Katrina enjoys being in nature, hiking, practising yoga, studying philosophy and spending time with her family.</p>
                </div>
            </div>
        </div>

                                
            </div>
        </div>       

    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>