<!DOCTYPE html>
<html lang="en">



<body>    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-xs-12">
                    <hr>
                    <h2 class="intro-text text-center">Leela Eco Spa
                        <strong>WAXING SERVICES</strong>
                    </h2>
                    <hr>
                </div>
                
                <div class="col-xs-12 col-sm-6">
                    <img class="img-responsive img-border-left" src="/assets/spa/waxing.jpg" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row pad_top1">
                        <div class="col-xs-6">
                            <h5>BROWS</h5>
                            <h5>CHIN/LIP</h5>
                            <h5>BIKINI</h5>
                            <h5>BRAZILIAN</h5>
                            <h5>HALF LEG</h5>
                            <h5>FULL LEG</h5>
                            <h5>FULL LEG & BIKINI</h5>
                            <h5>CHEST/BACK</h5>
                            <h5>ARM </h5>
                            <h5>UNDER ARM</h5>
                        </div>
                        <div class="col-xs-6">
                            <h5>$20</h5>
                            <h5>$15</h5>
                            <h5>$35</h5>
                            <h5>$55</h5>
                            <h5>$40</h5>
                            <h5>$60</h5>
                            <h5>$85</h5>
                            <h5>$55</h5>
                            <h5>$40</h5>
                            <h5>$20</h5>
                        </div>
                    </div>                    
                </div>                
            </div>
        </div>

        

    </div>
    <!-- /.container -->

   

</body>

</html>
