<% meta title: "Massages in Calgary",
   description: "Celebrate and enjoy a stress free life with intense massage by professionals. Indulge in stress relief Calgary with massage in Calgary and relaxation massage in Calgary. Get blissful treatment and host the happiness."
%>
<% metamagic keywords: [:keywords, "Massages in Calgary", "Relaxation massage in Calgary", "Massage Bridgeland", "Stress Relief Calgary", "Relaxation Massage", "Therapeutic Massage", "Hotstone Massage", "Prenatal Massage", "Post-natal Massage", "Couple Massage"]
%>
<% metamagic site: "Leela Eco Spa", title: [:title, :site], separator: " | " %>

<% content_for :image_gallery do %>
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/gallery-css/bootstrap-image-gallery.css" type="text/css">
<% end %>

<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-sm-12">
        <h1 class="intro-text text-center">Leela Eco Spa
          <strong class="pink">Massages</strong>
        </h1>
      </div>
      <div class="col-sm-12 pad_botp5 text-justify">
        <p>Relax &amp; let our therapists use their professional skills to create a magical experience for your
          senses.</p>
        <!--<p>All of Leela’s RMT’s are registered and accepted with all health insurance providers. We can <strong>direct bill</strong> with most of the insurance providers including Alberta Blue Cross, Greenshield, Sunlife, Manulife and others</p>-->
      </div>
      <div>
        <div class="row">
          <div class="box text-center">
            <a href="/assets/gallery/large/gallery18_Couples_massage.jpg" data-gallery=""><img src="/assets/gallery/small/gallery18_Couples_massage.jpg" class="pad_bot4p" alt="Spa in Calgary"></a>
            <a href="/assets/gallery/large/gallery19_leela_massage.jpg" data-gallery=""><img src="/assets/gallery/small/gallery19_leela_massage.jpg" class="pad_bot4p" alt="Massage in Calgary"></a>
          </div>
        </div>
      </div>
      <div class="row">
        <!--<div class="col-sm-6 text-center">-->
        <!--<img class="image_responsive pad_top1" src="/assets/spa/massage_relax.jpg">-->
        <!--</div>                     -->
        <div class="col-sm-6">
          <hr>
          <h3 class="text-center">
            <strong>RELAXATION MASSAGE</strong>
          </h3>
          <hr>
          <p class="text-justify">Stressed out?  Not sleeping? Brain a bit foggy? Take some time for yourself, you deserve it! Cozy up on our heated massage tables, and let your RMT melt your muscles and mind into a state of deep relaxation. Long, slow strokes with the pressure of your choice will allow your nervous system to take a time out - something everyone needs now and then! If you please, your massage will finish with the biggest treat of all, a soothing and calming scalp massage that will put you in a state of pure bliss! So take a break, spoil yourself and book a relaxation massage!</p>

          <div class="text-center">
            <h4 class="price_color">60 min ….. $90</h4>
            <h4 class="price_color">90 min ….. $130</h4>
          </div>
        </div>
        <div class="col-sm-6">
          <hr>
          <h3 class="text-center">
            <strong>THERAPEUTIC MASSAGE</strong>
          </h3>
          <hr>
          <p class="text-justify">Your treatment will begin with a thorough intake conversation with your RMT, where you can describe any pains, stiffness or issues you are having to ensure you get the maximum benefit from your massage.  Whether you are looking for a full body treatment, or specific areas such as back and neck, your therapist will customize your treatment to your specific needs!  Generally using a deeper touch than relaxation, therapeutic massages can decrease pain, lengthen any tightened muscles and relax the self as whole.  Perfect for ailments such as chronic pain, arthritis, migraines or general soreness, if you are looking for pain relief of any kind - this massage is for you!</p>

          <div class="text-center">
            <h4 class="price_color">60 min ….. $90</h4>
            <h4 class="price_color">90 min ….. $130</h4>
          </div>
        </div>

      </div>
      <div class="row pad_top2">
        <div class="col-sm-6">
          <hr>
          <h3 class="text-center">
            <strong>SPORTS MASSAGE</strong>
          </h3>
          <hr>
          <p class="text-justify">Sports Massage is geared towards athletes of every kind, whether you are a professional athlete or weekend jogger. Sports massage can be used to prevent injuries, promote flexibility, improve performance and endurance. The therapist focuses on areas of the body that are overused or stressed from repetitive and often aggressive movements. Talk to one of our RMTs (registered massage therapist) to find a plan that works best for your lifestyle, level of activity and budget. The therapist may also incorporate stretching and fascial techniques, as well send you home with a homecare regime to increase results.</p>

          <div class="text-center">
            <h4 class="price_color">60 min ….. $90</h4>
            <h4 class="price_color">90 min ….. $130</h4>
          </div>
        </div>
        <div class="col-sm-6">
          <hr>
          <h3 class="text-center">
            <strong>HOT STONE MASSAGE</strong>
          </h3>
          <hr>
          <p class="text-justify">Hot stone massage is a customized massage, with the placement of smooth, water-heated stones that are placed on key points of the body. Hot stone eases muscle stiffness, increases circulation and melts away tension. The direct heat of the stones relaxes the tissue, allowing the RMT to access deeper muscle layers. Booking 90 minute treatment will allow the therapist to provide a full body treatment, with adequate time to also focus on any problems areas. If you are looking to relax, relieve stress or decrease chronic pain, this is the massage for you.</p>

          <div class="text-center">
            <h4 class="price_color">60 min ….. $105</h4>
            <h4 class="price_color">90 min ….. $145</h4>
          </div>
        </div>

      </div>
      <div class="row pad_top2">
        <div class="col-sm-6">
          <hr>
          <h3 class="text-center">
            <strong>PRE-NATAL MASSAGE</strong>
          </h3>
          <hr>
          <p class="text-justify">Prenatal massage is a safe and effective way to reduce the discomforts of pregnancy! Headaches, muscle stiffness, backaches, fatigue and swelling are all common ailments that can occur during pregnancy, and taking some time to yourself on the table can help alleviate all of them! Massage encourages blood circulation, which helps relax the nervous system, allowing for a better sleep, and attention to specific muscles will help ease the pain of any postural changes which occur! Once laying on your tummy isn't possible, your therapist will have you lay on your side, supported by one of our amazingly comfortable full body pregnancy pillows so all areas of your body get the proper attention they deserve! Unwind and relax while we help keep you and your baby healthy!</p>

          <div class="text-center">
            <h4 class="price_color">60 min ….. $100</h4>
            <h4 class="price_color">90 min ….. $135</h4>
          </div>
        </div>
        <div class="col-sm-6">
          <hr>
          <h3 class="text-center">
            <strong>POST-NATAL MASSAGE</strong>
          </h3>
          <hr>
          <p class="text-justify">A happy mommy makes a happy baby! Postnatal treatments offer essential time to nurture
            and support your body’s recovery from the birthing process. Mothers will find additional benefits of relief
            from nerve and muscle pain, additional milk flow, regulation of menses, reduction in swelling, speedier
            contraction of uterus and reduction of muscular tension and fatigue.</p>

          <div class="text-center">
            <h4 class="price_color">60 min ….. $100</h4>
            <h4 class="price_color">90 min ….. $135</h4>
          </div>
        </div>
      </div>
      <div class="row pad_top2">
        <div class="col-sm-6">
          <hr>
          <h3 class="text-center">
            <strong>AROMATHERAPY MASSAGE</strong>
          </h3>
          <hr>
          <p class="text-justify">Our therapist use top quality Young Living oils to enhance your massage.  Young Living Oils are known to be the purest of quality, ensuring no extra chemicals will be entering your system when applied!  You will work with our educated staff to select an oil, and once you are cozy on the table your therapist will have you inhale deep breaths of the scent, as well as create a blend with your massage oil for your treatment!  We offer a variety of oils to choose from to customize your massage, with benefits ranging from Lavender for relaxation to Citrus for mood enhancing!</p>

          <div class="text-center">
            <h4 class="price_color"></h4>
            <h4 class="price_color"></h4>
          </div>
        </div>
        

      </div>
    </div>
    <div class="box">
      <div class="col-sm-12">
      </div>
      <div class="col-sm-12 text-center">
        <hr>
        <h3 class="text-center">
          <strong>COUPLES MASSAGE</strong>
        </h3>
        <hr>
        <p class="text-justify">An intimate celebration for two! Be led to your beds side by side to enjoy our calming,
          invigorating massage that will balance body, mind and soul. So go ahead, indulge your relationship!</p>

        <div class="col-sm-12">
          <p><strong>Relaxation/Therapeutic/Sport</strong></p>
          <h4 class="price_color">60 min ….. $180</h4>
          <h4 class="price_color">90 min ….. $260</h4>
        </div>
        <div class="col-sm-12">
          <p><strong>Hot Stone</strong></p>
          <h4 class="price_color">60 min ….. $210</h4>
          <h4 class="price_color">90 min ….. $290</h4>
        </div>
      </div>
      <div class="col-sm-12 text-center pad_top2">
        <p><strong><i class="fa fa-hand-o-right"></i> Prices do not include GST
          <i class="fa fa-hand-o-left"></i></strong></p>
      </div>
    </div>

    <div class="box">
      <div class="col-sm-12">
        <h2 class="text-center">
          <strong class="pink">PACKAGES</strong>
        </h2>
      </div>
      <div class="col-sm-12 text-center">
        <h4>BLISS</h4>

        <p><strong>60 min</strong> facial, pedicure, manicure (<strong><span class="price_color">$175</span></strong>)
        </p>
        <h4>RENEW</h4>

        <p><strong>60 min</strong> massage, body scrub, <strong>&amp; 60 min</strong> facial
          (<strong><span class="price_color">$256</span></strong>)</p>
        <h4>WELLNESS</h4>

        <p><strong>60 min</strong> massage, <strong>60 min</strong> facial, lunch, manicure &amp; pedicure
          (<strong><span class="price_color">$256</span></strong>)</p>
      </div>
      <div class="col-sm-12 text-center pad_top2">
        <p><strong><i class="fa fa-hand-o-right"></i> Prices do not include GST
          <i class="fa fa-hand-o-left"></i></strong></p>
      </div>
      <div class="col-sm-12 pad_top3">
        <div class="well">
          <p class="text-center">The massages offered by RMT's help in relieving the stress. This stress relief service in calgary has helped numerous clients who keep coming back to their favourite RMT. The massage in Calgary is quite diverse and we provide a consistent service to each client, making them satisfied and relaxed. The massage has many benefits from therapeutic benefits to pure relaxation. We are happy to be a provider of such service and helping the community towards better health &amp; wellness. ​ Our business is built hugely  ​on return clients because of the quality of services we provide at our Eco friendly spa. We are the only spa that offers the app Leela Eco Spa which provides fast and convent bookings online.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
  <!-- The container for the modal slides -->
  <div class="slides"></div>
  <!-- Controls for the borderless lightbox -->
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
  <!-- The modal dialog, which will be used to wrap the lightbox content -->
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <div class="modal-title"></div>
          <!-- Use this for title <h4 class="modal-title"></h4> -->
        </div>
        <div class="modal-body next"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary pull-left prev">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Previous
          </button>
          <button type="button" class="btn btn-primary next">
            Next
            <i class="glyphicon glyphicon-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :image_gallery_js do %>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="/assets/gallery-js/bootstrap-image-gallery.js"></script>
<script src="/assets/gallery-js/demo.js"></script>
<% end %>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-61847818-1', 'auto');
    ga('send', 'pageview');

</script>