<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="/assets/gallery-css/bootstrap-image-gallery.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-sm-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong>Massages</strong>
                    </h1>
                </div>
                <div class="col-sm-12 pad_botp5">
                    <p>Relax & let our therapists use their professional skills to create a magical experience for your senses.</p>
                    <p>All of Leela’s RMT’s are registered and accepted with all health insurance providers. We can <b>direct bill</b> with most of the insurance providers including Alberta Blue Cross, Greenshield, Sunlife, Manulife and others</p>
                </div>
              <div class="container">
                <div class="row">
                  <div class="box text-center">
                    <a href="/assets/gallery/large/gallery15_acupuncture.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery15_acupuncture.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery16_aesthetics.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery16_aesthetics.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery17_aesthetics.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery17_aesthetics.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery18_Couples_massage.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery18_Couples_massage.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery19_leela_massage.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery19_leela_massage.jpg" class="pad_bot4p"></a>
                  </div>
                </div>
              </div>
                <div class="row">
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/massage_relax.jpg">-->
                        <!--</div>                     -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>RELAXATION MASSAGE</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">Take a blissful retreat from the daily demands of life with our relaxation massage. After this full body massage, you will find tension eased and stress released. A pure indulgent treat for the senses!</p>
                    <div class="text-center">
                      <h4 class="price_color">60 min ….. $90</h4>
                      <h4 class="price_color">90 min ….. $130</h4>
                    </div>
                  </div>
                  <div class="col-sm-6">
                        <hr>
                        <h3 class="text-center">
                          <strong>THERAPEUTIC MASSAGE</strong>
                        </h3>
                        <hr>
                        <p class="text-justify">This intense massage uses greater pressure and slower movements to relieve chronic pain, tension and tightness. Our RMT’s will use deep, deliberate strokes to separate and lengthen muscle fibers. Great for those with muscular tension and pain.</p>
                        <div class="text-center">
                          <h4 class="price_color">60 min ….. $90</h4>
                          <h4 class="price_color">90 min ….. $130</h4>
                        </div>
                      </div>

                </div>
                <!--<div class="row pad_top2">-->
                        <!--&lt;!&ndash;<div class="col-sm-6 text-center">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="image_responsive pad_top1" src="/assets/spa/massage_therapeutic.jpg">&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>                     &ndash;&gt;-->

                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>THERAPEUTIC MASSAGE</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">This intense massage uses greater pressure and slower movements to relieve chronic pain, tension and tightness. Our RMT’s will use deep, deliberate strokes to separate and lengthen muscle fibers. Great for those with muscular tension and pain.</p>-->
                            <!--<div class="text-center">-->
                                <!--<h4 class="price_color">60 min ….. $90</h4>-->
                                <!--<h4 class="price_color">90 min ….. $130</h4>-->
                            <!--</div>-->
                        <!--</div>                                           -->
                <!--</div>-->

                <div class="row pad_top2">
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/massage_sports.jpg">-->
                        <!--</div>                     -->
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>SPORTS MASSAGE</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">For athletes looking to accelerate their healing process and need customized therapy. Our RMT’s will work with you to lessen the risk of injury while increasing performance, flexibility and range of motion.</p>
                            <div class="text-center">
                                <h4 class="price_color">60 min ….. $90</h4>
                                <h4 class="price_color">90 min ….. $130</h4>
                            </div>                            
                        </div>
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>HOT STONE MASSAGE</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">Use the healing power of heat combined with traditional massage techniques to deepen your relaxation. Heated stones radiate warmth into muscles to increase blood circulation, and decrease stress, tension and tissue stiffness.</p>
                    <div class="text-center">
                      <h4 class="price_color">60 min ….. $105</h4>
                      <h4 class="price_color">90 min ….. $145</h4>
                    </div>
                  </div>

                </div>

                <!--<div class="row pad_top2">-->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/massage_stone.jpg">-->
                        <!--</div>                     -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>HOT STONE MASSAGE</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">Use the healing power of heat combined with traditional massage techniques to deepen your relaxation. Heated stones radiate warmth into muscles to increase blood circulation, and decrease stress, tension and tissue stiffness.</p>-->
                            <!--<div class="text-center">-->
                                <!--<h4 class="price_color">60 min ….. $105</h4>-->
                                <!--<h4 class="price_color">90 min ….. $145</h4>-->
                            <!--</div>-->
                        <!--</div>                                           -->
                <!--</div>-->

                <div class="row pad_top2">
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/massage_prenatal.jpg">-->
                        <!--</div>                     -->
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>PRENATAL MASSAGE</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">Nourish both mother-to-be and child with this treatment meant to calm the nervous system and promote circulation. This gentle massage helps reduce back pain, swelling, stress on weight-bearing joints while regulating hormones and improve oxygenation of soft tissues and muscles. We have a special Prenatal table to offer the mother-to-be lie belly down (after months) while enjoying the sensation of the massage.</p>
                            <div class="text-center">
                                <h4 class="price_color">60 min ….. $100</h4>
                                <h4 class="price_color">90 min ….. $135</h4>
                            </div>                            
                        </div>
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>POST-NATAL MASSAGE</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">A happy mommy makes a happy baby! Postnatal treatments offer essential time to nurture and support your body’s recovery from the birthing process. Mothers will find additional benefits of relief from nerve and muscle pain, additional milk flow, regulation of menses, reduction in swelling, speedier contraction of uterus and reduction of muscular tension and fatigue.</p>
                    <div class="text-center">
                      <h4 class="price_color">60 min ….. $105</h4>
                      <h4 class="price_color">90 min ….. $135</h4>
                    </div>
                  </div>
                </div>

                <!--<div class="row pad_top2">-->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/massage_postnatal.jpg">-->
                        <!--</div>                     -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>POST-NATAL MASSAGE</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">A happy mommy makes a happy baby! Postnatal treatments offer essential time to nurture and support your body’s recovery from the birthing process. Mothers will find additional benefits of relief from nerve and muscle pain, additional milk flow, regulation of menses, reduction in swelling, speedier contraction of uterus and reduction of muscular tension and fatigue.</p>-->
                            <!--<div class="text-center">-->
                                <!--<h4 class="price_color">60 min ….. $105</h4>-->
                                <!--<h4 class="price_color">90 min ….. $135</h4>-->
                            <!--</div>-->
                        <!--</div>                                           -->
                <!--</div>-->

                <!--<div class="row pad_top2">-->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/spa/massage_couples.jpg">-->
                        <!--</div>                     -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>COUPLES MASSAGE</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">An intimate celebration for two! Be led to your beds side by side to enjoy our calming, invigorating massage that will balance body, mind and soul. So go ahead, indulge your relationship!</p>-->
                            <!--<div class="col-sm-12">-->
                                <!--<div>-->
                                    <!--<h5>Relaxation/Therapeutic/Sport</h5>-->
                                <!--</div>  -->
                                <!--<div class="text-right">-->
                                    <!--<h4 class="price_color">60 min ….. $180</h4>-->
                                    <!--<h4 class="price_color">90 min ….. $260</h4>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-sm-12">-->
                                <!--<div>-->
                                    <!--<h5>Hot Stone</h5>-->
                                <!--</div>-->
                                <!--<div class="text-right">-->
                                    <!--<h4 class="price_color">60 min ….. $210</h4>-->
                                    <!--<h4 class="price_color">90 min ….. $290</h4>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>                                           -->
                <!--</div>-->
                               
                
            </div>
          <div class="box">
            <div class="col-sm-12">
            </div>
            <div class="col-sm-12 text-center">
              <hr>
              <h3 class="text-center">
                <strong>COUPLES MASSAGE</strong>
              </h3>
              <hr>
              <p class="text-justify">An intimate celebration for two! Be led to your beds side by side to enjoy our calming, invigorating massage that will balance body, mind and soul. So go ahead, indulge your relationship!</p>
              <div class="col-sm-12">
                <div>
                  <h5>Relaxation/Therapeutic/Sport</h5>
                </div>
                <div>
                  <h4 class="price_color">60 min ….. $180</h4>
                  <h4 class="price_color">90 min ….. $260</h4>
                </div>
              </div>
              <div class="col-sm-12">
                <div>
                  <h5>Hot Stone</h5>
                </div>
                <div>
                  <h4 class="price_color">60 min ….. $210</h4>
                  <h4 class="price_color">90 min ….. $290</h4>
                </div>
              </div></div>
            <div class="col-sm-12 text-center pad_top2">
              <p><b><i class="fa fa-hand-o-right"></i> Prices do not include GST <i class="fa fa-hand-o-left"></i></b></p>
            </div>
          </div>

            <div class="box">
                <div class="col-sm-12">
                    <h2 class="text-center">
                        <strong>PACKAGES</strong>
                    </h2>
                </div> 
                <div class="col-sm-12 text-center">
                    <h4>BLISS</h4>
                    <p><strong>60 min</strong> facial, pedicure, manicure ( <b><span class="price_color">$172</span></b> ) </p>
                    <h4>RENEW</h4>
                    <p><strong>60 min</strong> massage, body scrub, <strong>& 60 min</strong> facial ( <b><span class="price_color">$228</span></b> )</p>
                    <h4>WELLNESS</h4>
                    <p><strong>60 min</strong> massage, <strong>60 min</strong> facial, lunch, manicure & pedicure ( <b><span class="price_color">$275</span></b> )</p>                    
                </div>
                <div class="col-sm-12 text-center pad_top2">
                    <p><b><i class="fa fa-hand-o-right"></i> Prices do not include GST <i class="fa fa-hand-o-left"></i></b></p>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="box">
                <div class="col-sm-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> -->

    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
      <!-- The container for the modal slides -->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox -->
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary pull-left prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Previous
              </button>
              <button type="button" class="btn btn-primary next">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/assets/gallery-js/bootstrap-image-gallery.js"></script>
    <script src="/assets/gallery-js/demo.js"></script>
    <!-- /.container -->

   

</body>

</html>
