<!DOCTYPE html>
<html lang="en">
<head>
  <% meta title: "Estheticians",
          description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing",
          keywords: %w("Estheticians in Calgary" "Estheticians in Bridgeland "Estheticians in Downtown Calgary" "Yoga Classes in Calgary" "Massages in Calgary" practitioner in calgary practitionerincalgary VISCERAL MANIPULATION ORGAN ASSESSMENT AND CORRECTION Manual Therapy Assessment estheticians)
  %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>
</head>
<body>    
    <div class="container">
        <div class="row">
            <div class="box">

                <div class="col-xs-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">OUR ESTHETICIANS</strong>
                    </h1>
                </div>                        
            
                <div class="col-sm-12">
                    <div class="row pad_bot3 pad_top1">
                        <div class="col-sm-3 text-center">                  
                            <img src="/assets/spa/Anna.jpeg" class="img-thumbnail" alt="">
                        </div>
                        <div class="col-sm-9 text-justify">
                            <h3>ANNA BERG</h3>
                            <p>Growing up in a small town as a young girl, Anna used to love doing aesthetics on friends, family members and even her tom boy sister.  Anna`s passion till date remains in the aesthetics world. </p>
                            <p>Anna has graduated from the <em>Eveline Charles Academy</em> in May 2014 as a licensed esthetician. She has skills in basic aesthetics as well as medical aesthetic treatments, holistic treatments and business development. She especially loves using organic natural products, and believes in the philosophy of natural wellness and nutrition, which is why she happily decided to join the Leela family. With her nurturing spirit and love of helping people she is looking forward to learning and growing within the industry.</p>
                        </div>
                    </div>
                </div>
                                
            </div>
        </div> 
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>
