    <% meta title: "Waxing",
            description: "Spa in Calgary, Leela Eco Spa & Studio offers services in Massage, Esthetics, Yoga, Natural Medicine and Intuitive Healing."
            %>
            <% metamagic keywords: [:keywords, "waxing in Calgary","waxing in Bridgeland","waxing in Downtown Calgary","waxing Classes in Calgary","Massages in Calgary","practitioner in calgary","practitionerincalgary","estheticsincalgary","esthetics waxing"]
    %>
  <% metamagic site: "Leela Eco Spa", title: [:title , :site], separator: " | " %>  

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-xs-12">
                    <h1 class="intro-text text-center pad_botp5">Leela Eco Spa
                        <strong class="pink">WAXING SERVICES</strong>
                    </h1>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <!-- <img class="img-responsive img-border-left" src="/assets/spa/waxing.jpg" alt=""> -->
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="row pad_top1">
                        <div class="col-xs-10 col-sm-6">
                            <h4>BROWS</h4>
                            <h4>CHIN/LIP</h4>
                            <h4>BIKINI</h4>
                            <h4>BRAZILIAN</h4>
                            <h4>HALF LEG</h4>
                            <h4>FULL LEG</h4>
                            <h4>FULL LEG & BIKINI</h4>
                            <h4>CHEST/BACK</h4>
                            <h4>ARM </h4>
                            <h4>UNDER ARM</h4>
                        </div>
                        <div class="col-xs-2 col-sm-6">
                            <h4>$20</h4>
                            <h4>$15</h4>
                            <h4>$35</h4>
                            <h4>$55</h4>
                            <h4>$40</h4>
                            <h4>$60</h4>
                            <h4>$85</h4>
                            <h4>$55</h4>
                            <h4>$40</h4>
                            <h4>$20</h4>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>                    
                </div> 

                <div class="col-sm-12 text-center pad_top2">
                    <p><strong><i class="fa fa-hand-o-right"></i> Prices do not include GST <i class="fa fa-hand-o-left"></i></strong></p>
                </div>
                               
            </div>
        </div>

        

    </div>
    <!-- /.container -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-61847818-1', 'auto');
        ga('send', 'pageview');

    </script>