<!DOCTYPE html>
<html lang="en">



<body>    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-sm-12">
                    <h1 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">LITTLE HIPPIES</strong>
                    </h1>
                </div>
                <div class="col-sm-12">
                    <p class="text-center">
                        Leela is proud to host <strong>LITTLE HIPPIES</strong> at our yoga studio! Little Hippies hosts yoga classes for kids 2-9 years of age.
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="/assets/yoga/little_happy1.jpg" alt="">
                </div>
                <div class="col-md-6 pad_top2">
                    <p><strong>MONDAY</strong>
                       <strong>9am-11am:</strong> PlaYoga (2-5)
                    </p>
                    <p><strong>TUESDAY</strong>
                       <strong>9am-11am:</strong> PlaYoga (2-5)
                    </p>
                    <p><strong>WEDNESDAY</strong>
                       <strong>9am-11am:</strong> PlaYoga (2-5)
                    </p>
                    <p><strong>THURSDAY</strong>
                       <strong>4.15pm-5.15pm:</strong> Little Yogi’s (3-6) / Little Yahoo’s (6-9)
                    </p>                    
                
                    <p><strong>RATES</strong></p>
                    <p>Drop in rate: <strong>$18 + GST</strong></p>
                    <p>8 week session pass: <strong>$105 + GST</strong></p>
                    <p>For more information, visit <a title="www.littlehippieskidsyoga.com" href="http://www.littlehippieskidsyoga.com" target="_blank">http://www.littlehippieskidsyoga.com</a></p>
                </div>
                
            </div>
        </div>        

    </div>
     

</body>

</html>
