<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
  <link rel="stylesheet" href="/assets/gallery-css/bootstrap-image-gallery.css">
</head>


<body>    

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <h2 class="intro-text text-center">Leela Eco Spa
                        <strong class="pink">Yoga Classes</strong>
                    </h2>
                </div>
                <div class="col-lg-12 text-justify">
                    <p>All our yoga instructors will show a basic, intermediate and advanced version of most postures, so feel free to try all our classes and decide which one works best for you!
                     <h5 style="display: inline;"><a href="/yoga_schedule">Click here</a></h5> for the schedule and to sign up for our classes.</p>
                </div>
              <div>
                <div class="row">
                  <div class="box text-center">
                    <a href="/assets/gallery/large/gallery21_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery21_yoga.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery22_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery22_yoga.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery23_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery23_yoga.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery25_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery25_yoga.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery29_LeelaEcoSpaStudio.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery29_LeelaEcoSpaStudio.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery30_LeelaEcoSpaStudio.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery30_LeelaEcoSpaStudio.jpg" class="pad_bot4p"></a>
                    <a href="/assets/gallery/large/gallery24_yoga.jpg" title="" data-gallery=""><img src="/assets/gallery/small/gallery24_yoga.jpg" class="pad_bot4p"></a>
                  </div>
                </div>
              </div>

            <div class="col-sm-12">
                <div class="row">                                            
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>ASHTANGA INSPIRED</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">This 75 minute class has been inspired from the Ashtanga primary series of poses; the class focus is on linking together postures with breath -creating flowing dynamic movement. The class includes the use of a focused gaze (drsti), the breath (pranayama) and the energy “locks” (bandhas) resulting in a powerful discipline for cultivating physical, mental and spiritual health. Core strengthening postures are included in every sequence. All levels of practitioners are welcome as modifications will be offered. Come join us for an exploration of self!</p>
                        </div>
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_ashtanga.jpg">-->
                        <!--</div>                                            -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>CORE POWER</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">This powerful class will challenge you to use your core muscle strength to create the foundation to support your growing practice. Dynamic yoga postures and core strengthening moves will guide this high energy class. Some experience necessary as there will be exploration into more challenging sequences and postures. This class will have music.</p>
                  </div>
                </div>

                <!--<div class="row pad_top2">                                            -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>CORE POWER</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">This powerful class will challenge you to use your core muscle strength to create the foundation to support your growing practice. Dynamic yoga postures and core strengthening moves will guide this high energy class. Some experience necessary as there will be exploration into more challenging sequences and postures. This class will have music.</p>-->
                        <!--</div> -->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_corepower.jpg">-->
                        <!--</div>                                            -->
                <!--</div>-->

                <div class="row pad_top2">                                            
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>RESTORATIVE YOGA</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">Do you have difficulties falling asleep at night due to an overactive mind? Are you feeling stiff in your muscles and compressed in your spine and joints? Come join us in long, slow holds in postures that draw length into your spine, hamstrings, hip flexors as well as connective tissues. Develop deep core muscles that support the spine and pelvis while at the same time taking your mind to the centre of calm sensations. The reflective class welcomes all levels and experiences.</p>
                            <p class="text-justify">In restorative yoga, props such as bolsters and blankets are used to fully support the body, allowing it to open slowly and naturally with no effort. Concentration is on the breath, allowing for a deep introspective class which restores energy to the body and calmness to the mind.</p>
                            <p class="text-justify">There will be no music in this class.</p>
                        </div> 
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_restorative.jpg">-->
                        <!--</div>                                            -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>VINYASA FLOW</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">A Vinyasa class is both a great place to start and to continue challenging yourself. Many of these classes will have the option to get into more advanced poses including inversions. These classes will vary each night with each instructor – Wednesday & Saturday will be Ashtanga (sequence) based and Monday, Tuesday & Thursday will be different each time.</p>
                    <p class="text-justify">This dynamic class is designed to bring incredible strength, flexibility and endurance to the body and a sense of stillness to the mind. This class will teach the fundamentals of sun salutations, ujjayi breath, energy locks and vinyasas as you learn to connect your breath with movement.</p>
                    <p class="text-justify">Each instructor has a different style so try out each one to find your favourite. Read their bios here to learn more about their personal story and style.</p>
                  </div>
                </div>

                <!--<div class="row pad_top2">                                            -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>VINYASA FLOW</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">A Vinyasa class is both a great place to start and to continue challenging yourself. Many of these classes will have the option to get into more advanced poses including inversions. These classes will vary each night with each instructor – Wednesday & Saturday will be Ashtanga (sequence) based and Monday, Tuesday & Thursday will be different each time.</p>-->
                            <!--<p class="text-justify">This dynamic class is designed to bring incredible strength, flexibility and endurance to the body and a sense of stillness to the mind. This class will teach the fundamentals of sun salutations, ujjayi breath, energy locks and vinyasas as you learn to connect your breath with movement.</p>-->
                            <!--<p class="text-justify">Each instructor has a different style so try out each one to find your favourite. Read their bios here to learn more about their personal story and style.</p>-->
                        <!--</div> -->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_vinyasa.jpg">-->
                        <!--</div>                                            -->
                <!--</div>-->

                <div class="row pad_top2">                                            
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>CRITICAL FLOW</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">Explore your practice with a fine-tuned focus on the alignment of postures. A mix of flowing sequences and longer-held poses will leave you feeling balanced and mindful. Music: upbeat rhythms.</p>
                        </div> 
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_criticalflow.jpg">-->
                        <!--</div>                                            -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>KARMA YOGA</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">This class is all about giving back. Our wonderful teachers are volunteering their time to teach an all levels class. This is a donation class and we ask for a minimum donation of $2. Twice a year we will choose a charity to donate the proceeds to.</p>
                  </div>
                </div>

                <!--<div class="row pad_top2">                                            -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>KARMA YOGA</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">This class is all about giving back. Our wonderful teachers are volunteering their time to teach an all levels class. This is a donation class and we ask for a minimum donation of $2. Twice a year we will choose a charity to donate the proceeds to.</p>-->
                        <!--</div> -->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_karma.jpg">-->
                        <!--</div>                                            -->
                <!--</div>-->

                <div class="row pad_top2">                                            
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>DISCOVER YOGA</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">These classes are designed to introduce you to the basics and a great continuation of your yoga practice. Learn the breathing techniques and foundation principles which will transform your yoga workout into a full Zen experience. By teaching you how to modify your practice and master your breath, these classes will open you to feeling relaxed and confident. Upon completion you will feel comfortable to go to any class anywhere and feel fine! These classes will have gentle music (except on Saturdays).</p>
                        </div> 
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_discover.jpg">-->
                        <!--</div>                                            -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>PS – I LOVE YOGA</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">This gentle class is designed for the curvy plus sized yogi. Here you will learn in a safe and comfortable environment how to explore all aspects of yoga. These classes with include meditation, breath work and asana (postures). The use of props and modifications are implemented so that you learn to work with your body instead of against it.</p>
                  </div>
                </div>

                <!--<div class="row pad_top2">                                            -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>PS – I LOVE YOGA</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">This gentle class is designed for the curvy plus sized yogi. Here you will learn in a safe and comfortable environment how to explore all aspects of yoga. These classes with include meditation, breath work and asana (postures). The use of props and modifications are implemented so that you learn to work with your body instead of against it.</p>-->
                        <!--</div> -->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_ps_meditation.jpg">-->
                        <!--</div>                                            -->
                <!--</div>-->

                <div class="row pad_top2">                                            
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>YIN</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">This slow, meditative class will quietly stretch out areas of the body that have gathered tension throughout the day. Long holds and deep stretches allow the body to completely relax and lengthen. This class is a great way to unwind and reconnect with your breath.</p>
                        </div> 
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_yin.jpg">-->
                        <!--</div>                                            -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>YIN YANG</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">Bring balance and openness to tight places. The first half of the class heats the body with sun salutations & opening postures. The second half cools the body with long holds and deep stretches. Expect a focus on one part of the body each class and to feel a big difference afterwards! Music: mellow beats.</p>
                  </div>
                </div>

                <!--<div class="row pad_top2">                                            -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>YIN YANG</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">Bring balance and openness to tight places. The first half of the class heats the body with sun salutations & opening postures. The second half cools the body with long holds and deep stretches. Expect a focus on one part of the body each class and to feel a big difference afterwards! Music: mellow beats.</p>-->
                        <!--</div> -->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_yinyang.jpg">-->
                        <!--</div>                                            -->
                <!--</div>-->

                <div class="row pad_top2">                                            
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>YOGA NIDRA</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">This class offers you peace of mind. If you have trouble sleeping, feel stressed, anxious and or have hyper tension this style of yoga is medicine for you. Supported with props, enjoy an hour long laying down meditation. You will be guided to focus your awareness to different areas of your body and inspired to mindfully release tension. This class is magic for the restless mind that just wont stop.  It's amazing how much ease your body can experience when the pressure of the mind is subdued. This is the perfect segue to a peaceful night's rest and to creating a week with flow!</p>
                        </div> 
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_yinyang.jpg">-->
                        <!--</div>                                            -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>HIPS AND LOWER BACK CLASS</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">This class is perfect for anyone suffering from injury or chronic pain in the lower back, hips and legs. This class will help you understand optimal alignment for your legs and how to engage your core and glut to create integrity for the lower back. You can expect some very gentle therapeutic movements as well as some mindful strengthening postures.</p>
                  </div>
                </div>

                <!--<div class="row pad_top2">                                            -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>HIPS AND LOWER BACK CLASS</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">This class is perfect for anyone suffering from injury or chronic pain in the lower back, hips and legs. This class will help you understand optimal alignment for your legs and how to engage your core and glut to create integrity for the lower back. You can expect some very gentle therapeutic movements as well as some mindful strengthening postures.</p>-->
                        <!--</div> -->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_yinyang.jpg">-->
                        <!--</div>                                            -->
                <!--</div>-->

                <div class="row pad_top2">                                            
                        <div class="col-sm-6">
                            <hr>
                            <h3 class="text-center">
                                <strong>NECK AND SHOULDER CLASS</strong>
                            </h3>
                            <hr>
                            <p class="text-justify">If you have tension head aches and or neck, shoulder, elbow or wrist issues, this class is designed for you!  Learn how to mindfully open into your shoulders and release neck tension while strengthening your arms and hands.  To alleviate pain in those areas, this class will teach you proper alignment techniques for your head and shoulders and strengthen your musculature to re-enforce optimal new holding patterns.</p>
                        </div> 
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_yinyang.jpg">-->
                        <!--</div>                                            -->
                  <div class="col-sm-6">
                    <hr>
                    <h3 class="text-center">
                      <strong>ENERGIZING YOGA FLOW</strong>
                    </h3>
                    <hr>
                    <p class="text-justify">What better way to kick off your weekend than with a fun and uptempo yoga class! This class is designed to energize the body by use of active breath work, a creative flow sequence and amazing music (ever practiced to Motown? Jazz? House? Classic Rock?...) Studies show that by making things fun we can change our behavior - yoga doesn't have to be serious! Bring a friend. Make lunch plans after. Be active. Maybe even book a massage after class. Have fun with your practice before during and after so to take care of yourself mind, body and spirit!</p>
                  </div>
                </div>

                <!--<div class="row pad_top2">                                            -->
                        <!--<div class="col-sm-6">-->
                            <!--<hr>-->
                            <!--<h3 class="text-center">-->
                                <!--<strong>ENERGIZING YOGA FLOW</strong>-->
                            <!--</h3>-->
                            <!--<hr>-->
                            <!--<p class="text-justify">What better way to kick off your weekend than with a fun and uptempo yoga class! This class is designed to energize the body by use of active breath work, a creative flow sequence and amazing music (ever practiced to Motown? Jazz? House? Classic Rock?...) Studies show that by making things fun we can change our behavior - yoga doesn't have to be serious! Bring a friend. Make lunch plans after. Be active. Maybe even book a massage after class. Have fun with your practice before during and after so to take care of yourself mind, body and spirit!</p>-->
                        <!--</div> -->
                        <!--<div class="col-sm-6 text-center">-->
                            <!--<img class="image_responsive pad_top1" src="/assets/yoga/classes_yinyang.jpg">-->
                        <!--</div>                                            -->
                <!--</div>-->

            </div>

            <div class="col-xs-12 pad_top2">
                <p class="text-justify">All sequences are accessible to beginners and different variations will be provided by the teacher if an injury or physical limitation prevents access into the pose(s). Music requests are always welcome!</p>
            </div>


                
                
            </div>
        </div>

        

    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
      <!-- The container for the modal slides -->
      <div class="slides"></div>
      <!-- Controls for the borderless lightbox -->
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
      <!-- The modal dialog, which will be used to wrap the lightbox content -->
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" aria-hidden="true">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body next"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary pull-left prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Previous
              </button>
              <button type="button" class="btn btn-primary next">
                Next
                <i class="glyphicon glyphicon-chevron-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation and button states -->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="/assets/gallery-js/bootstrap-image-gallery.js"></script>
    <script src="/assets/gallery-js/demo.js"></script>
   

</body>

</html>
